body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    height: 100%;
    display: grid;
  }
  
  nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .grid  {
    display: grid;
    grid-template-areas: "sidebar content"
    "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
  } 
  
  .sidebar {
    grid-area: sidebar;
    background-color: lightslategray;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .content    {
    grid-area: content; 
    background-color: lightsteelblue;
    padding-left: 10px;
    padding-left: 10px;
  }
  
  .footer {
  grid-area: footer;
  text-align: center;
  background-color: gray;
  padding: 1rem;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a:link  {
    color: rgb(31, 30, 30);
  }
  
  nav a:hover {
    color: black;
  }
  
  nav a:visited   {
    color: gainsboro;
  }
  
  body,html {
    height:100%;
    margin:0;
    padding:0;
    width: 100%;
    
  }
  .container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
  }
ul{
  list-style: none;

}
.flexcontainer {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
@media (max-width: 320px) {
  .flexcontainer {
    display: block;
  }
}