body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
  }
  
  nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .grid  {
    display: grid;
    grid-template-areas: "sidebar content"
    "footer footer";
    grid-template-columns: auto 1fr;
  } 
  
  .sidebar {
    grid-area: sidebar;
    background-color: lightslategray;
    padding: 10px;
  }
  
  .content    {
    grid-area: content; 
    background-color: lightsteelblue;
    padding-left: 10px;
    padding-top: 25px;
  }
  
  .footer {
  grid-area: footer;
  text-align: center;
  background-color: gray;
  padding: 1rem;
  }
  
  nav a {
    text-decoration: none;
  }
  
  nav a:link  {
    color: rgb(31, 30, 30);
  }
  
  nav a:hover {
    color: black;
  }
  
  nav a:visited   {
    color: gainsboro;
  }
  
  body,html {
    height:100%;
    margin:0;
    padding:0;
    width: 100%;
    
  }
  .container {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
  }
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .suggestion-list {
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #ddd;
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 2;
  }
  .dropdown.open .suggestion-list {
    display: block;
  }
  
  .dropdown .suggestion-list {
    display: none;
  }
  .toggle .arrow-up {
    display: none;
  }
  
  .open .toggle .arrow-up {
    display: inline-block;
  }
  
  .open .toggle .arrow-down {
    display: none;
  }
  .suggestion-list li {
    cursor: pointer;
  }
  
  .suggestion-list li:hover {
    color: #fff;
    background-color: #ccc;
  }

  .active  {
    color: #fff;
    background-color: #42b983;
  }
  